<app-content-wrapper 
  [title]="'Kelas'" 
  [showButtonAcademicYear]="true">
  <tabset #staticTabs [justified]="true" type="pills">
    <tab *ngFor="let day of dayOpts" [heading]="day.label" [attr.id]="day.value" (select)="onTabSelect($event, day)">
      <h4 class="text-center mt-4">Kelas {{ day.label }}</h4>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col" width="120">#</th>
            <th *ngFor="let session of sessions" scope="col" class="text-center">{{ session.name }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let room of rooms">
            <th scope="row">{{ room.name }}</th>
            <th *ngFor="let session of sessions" scope="col">
              <div (click)="onTableGridClick(day, session, room)" [innerHtml]="showTableGridContent(day, session, room)">
              </div>
            </th>
          </tr>
        </tbody>
      </table>
    </tab>
  </tabset>
</app-content-wrapper>